.box{
    height:100px;
    width: 100px;
    border: 1px solid black;
    margin:5px;
    text-align: center;
   background-color: aquamarine;
   padding-left: 50px;
}
#parentBox{
 height: 400px;
 width: 400px;
 border: 2px solid black;
 text-align: center;
 background-color: beige;
 

}